body {
    color: #0c0c0c;
    background-color: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* NAVIGATION BURGER START */
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;  
  width: 100%;
  background: #C50C0C;
  clip-path: circle(25px at calc(100% - 45px) 37px);
  visibility: hidden; 
  opacity: 0; 
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .wrapper {
  visibility: visible;
  opacity: 1;
  clip-path: circle(75%);
}

.menu-btn {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding-left: 10px;
  font-size: 25px;
  color: white;
  background-color: #C50C0C;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  line-height: 50px;
}

#active:checked ~ .nav-right .menu-btn i {
  content: "\f00d";
  transition: all 0.3s ease-in-out;
}

.menu-btn i {
  content: "\f0c9";
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li a {
  font-weight: bold;
  color: none;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  color: #fff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: #C50C0C;
}

input[type="checkbox"] {
  display: none;
}
/* NAVIGATION BURGER END */


/* NAVIGATION BURGER START - ADMIN VERSION */
.wrapper-admin {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;  
  width: 100%;
  background: #FFC100;
  clip-path: circle(25px at calc(100% - 45px) 37px);
  visibility: hidden; 
  opacity: 0; 
  transition: all 0.3s ease-in-out;
}

#active-admin:checked ~ .wrapper-admin {
  visibility: visible;
  opacity: 1;
  clip-path: circle(75%);
}

.menu-btn-admin {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding-left: 10px;
  font-size: 25px;
  color: #fefdfc;
  background-color: #FFC100;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  line-height: 50px;
}

#active-admin:checked ~ .nav-right .menu-btn-admin i {
  content: "\f00d";
  transition: all 0.3s ease-in-out;
}

.menu-btn-admin i {
  content: "\f0c9";
}

.wrapper-admin ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper-admin ul li a {
  font-weight: bold;
  color: none;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  color: #000000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

.wrapper-admin ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}

.wrapper-admin ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper-admin ul li a:hover {
  color: #FFC100;
}

input[type="checkbox"] {
  display: none;
}
/* NAVIGATION BURGER END - ADMIN VERSION */

/* NAVIGATION HEADER START */
.nav-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  z-index: 10;
  background-color: transparent; 
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.nav-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.nav-title-red {
  font-size: 18px;
  font-weight: bold;
  color: #C50C0C;
}
.nav-right {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #C50C0C;
  color: white;
  padding: 30px 20px 30px 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#active:checked ~ .nav-header .nav-logo,
#active:checked ~ .nav-header .nav-title,
#active:checked ~ .nav-header .nav-title-red,
#active:checked ~ .nav-header .nav-btn,
#active:checked ~ .hero-section,
#active:checked ~ .map-section{
  opacity: 0;               
  visibility: hidden;      
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

#active:not(:checked) ~ .nav-header .nav-logo,
#active:not(:checked) ~ .nav-header .nav-title {
  opacity: 1;               
  visibility: visible;      
  transition: opacity 0.3s ease, visibility 0s 0s;
}

.nav-btn{
  background-color: white;
  color: black;
  border: none;
  padding: 10px 80px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  display: inline-block;
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: #FFC100;
}

/* NAVIGATION HEADER END */

/* NAVIGATION HEADER START - ADMIN VERSION */
.nav-header-admin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  z-index: 10;
  background-color: transparent; 
}

.nav-left-admin {
  display: flex;
  align-items: center;
}

.nav-logo-admin {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.nav-title-admin {
  font-size: 18px;
  font-weight: bold;
  color: #C50C0C;
}

.nav-right-admin {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFC100;
  color: #ffffff;
  padding: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#active-admin:checked ~ .nav-header-admin .nav-logo-admin,
#active-admin:checked ~ .nav-header-admin .nav-title-admin,
#active-admin:checked ~ .nav-header-admin .nav-btn-admin,
#active-admin:checked ~ .hero-section,
#active-admin:checked ~ .map-section {
  opacity: 0;             
  visibility: hidden;      
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

#active-admin:not(:checked) ~ .nav-header-admin .nav-logo-admin,
#active-admin:not(:checked) ~ .nav-header-admin .nav-title-admin {
  opacity: 1;           
  visibility: visible;      
  transition: opacity 0.3s ease, visibility 0s 0s;
}

.nav-btn-admin {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 50px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  display: inline-block;
  transition: 0.3s;
}

.nav-btn-admin:hover {
  color: #fff;
  background-color: #009C03;
}

/* NAVIGATION HEADER END - ADMIN VERSION */

/* HERO SECTION START */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('Images/heroBG.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(196, 12, 12, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
  color: #ffffff;
}

.hero-content-registered {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 198px 0px 0px 0px;
  color: #ffffff;
}

.hero-content h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-content-registered h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
  line-height: 1.5;
  max-width: 565px;
  margin: 0 auto;
  color: #ffffff;
}


.hero-content-registered p {
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
  line-height: 1.5;
  max-width: 565px;
  margin: 0 auto;
  color: #ffffff;
}

/* SEARCH FORM START */
.search-form {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 10px; 
}

.search-input-wrapper {
  position: relative; 
}

.search-input {
  padding: 10px 20px;
  padding-right: 40px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #2a2a2a; 
}

.search-btn {
  padding: 10px;
  background-color: #ffffff;
  color: #2a2a2a;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s;
}

.search-btn i {
  font-size: 24px;
}

.search-btn:hover {
  background-color: #e3e3e3;
}

/* SEARCH FORM END */

/* HERO SECTION END */

/* MAP SECTION START */
.map-section {
  position: relative;
}

.map_container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.map_container-registered {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.map-responsive {
  position: relative;
  width: 100%;
  height: 100%;
}

.map_container iframe {
  border: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: blur(8px);
  transition: filter 0.3s ease-in-out;
}

.map_container-registered iframe {
  border: 0;
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease-in-out;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 0 20px;
}

.content-overlay h2 {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 600;
}

.content-overlay p {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}

.register-btn {
  padding: 10px 30px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-btn:hover {
  background-color: #FFC100;
}
/* MAP SECTION END */


/* FEATURES SECTION START*/
.features-section {
  text-align: center;
  padding: 50px 250px;
}

.features-heading h2 {
  color: #C50C0C;
  font-size: 36px;
  margin-bottom: 10px;
}

.features-heading .line {
  width: 820px;
  height: 3px;
  background-color: #FF9B2C;
  margin: 20px auto;
}

.features-heading p {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.features-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 120px;
}

.icon-container {
  position: relative;
}

.icon-circle {
  width: 200px;
  height: 200px;
  background-color: #FF9B2C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden; 
  transition: transform 0.3s, background-color 0.3s;
}

.icon-img {
  width: 50%;  
  height: 50%; 
  object-fit: cover;
  transition: opacity 0.3s;
}

.icon-container:nth-child(1) .icon-img {
  width: 63%;  
  height: 63%;  
  object-fit: contain;  
}

.icon-container:nth-child(2) .icon-img {
  width: 70%;  
  height: 70%;  
  object-fit: contain;  
}

.icon-container:nth-child(3) .icon-img {
  width: 52%;  
  height: 76%;  
  object-fit: cover;  
}

.icon-container:nth-child(4) .icon-img {
  width: 100%;  
  height: 65%;  
  object-fit: contain;  
}

.icon-container:nth-child(5) .icon-img {
  width: 59%;  
  height: 71%;  
  object-fit: cover;  
}


.icon-text {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 19px;
  opacity: 0; 
  transition: opacity 0.3s;
}

.icon-circle:hover {
  background-color: #C50C0C;
  transform: scale(1.1);
}

.icon-circle:hover .icon-img {
  opacity: 0; 
}

.icon-circle:hover .icon-text {
  display: block; 
  opacity: 1;
}
/* Positioning specific icons */
.icon-container:nth-child(1) .icon-circle {
  margin-top: 0;
}

.icon-container:nth-child(2) .icon-circle {
  margin-top: -50px;
}

.icon-container:nth-child(3) .icon-circle {
  margin-top: -90px;
}

.icon-container:nth-child(4) .icon-circle {
  margin-top: -50px;
}

.icon-container:nth-child(5) .icon-circle {
  margin-top: 0;
}

/* FEATURES SECTION END */

/* LOG-IN START */
.login-section {
  text-align: center;
  padding: 20px;
}

.login-section {
  margin-top: 120px;
  margin-bottom: 215px;
  text-align: center;
  padding: 20px;
}

.login-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-section p,
.login-section input[type="email"],
.login-section input[type="password"],
.login-section button {
  font-size: 0.9em;
}

.login-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-section input[type="email"],
.login-section input[type="password"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  background-color: #D9D9D9; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-section button {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  background-color: #FF9B2C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-section button:hover {
  background-color: #C50C0C;
}

.login-section a {
  text-decoration: underline;
}
/* LOG-IN END */

/* ABOUT US START */

/* About Us Section */
.about-us {
  display: flex;
  align-items: center;
  margin-top: 80px;
  padding: 0;
}

.about-image {
  flex: 1;
  margin: 0;
}

.about-image img {
  width: 700px;
  height: auto;
  display: block;
  border-radius: 0;
}

.about-content {
  flex: 2;
  padding: 20px 190px;
  text-align: justify;
}

.about-content h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #ff4500;
  margin-bottom: 15px;
}

.about-content p {
  font-size: 16px;
}

/* Section Content */
.section-content-left {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  text-align: justify;
}

.section-content-left h2 {
  font-size: 30px;
  font-weight: 600;
  color: #C50C0C;
  margin-bottom: 15px;
}

.section-content-left p {
  font-size: 16px;
  line-height: 1.8;
}

.section-content-right {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  text-align: justify;
}

.section-content-right h2 {
  text-align: right;
  font-size: 30px;
  font-weight: 600;
  color: #ff4500;
  margin-bottom: 15px;
}

.section-content-right p {
  font-size: 16px;
  line-height: 1.8;
}

/* ASSOCIATES START */
.associates-content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  text-align: justify;
}

.associates-content h2 {
  font-size: 30px;
  font-weight: 600;
  color: #FF9B2C;
  margin-bottom: 15px;
}

.associates-content  p {
  font-size: 16px;
  line-height: 1.8;
}

.profiles-section {
  padding: 40px;
  text-align: center;
}

.profiles-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.profile-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 370px;
  height: auto;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
  display: none;
}

.profile-card.show {
  display: block;
}

.profile-position {
  font-size: 15px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 5px;
}

.profile-name {
  font-weight: 600;
  color: #FF9B2C;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 15px;
}

.profile-quote {
  padding: 0px 10px;
  text-align: justify;
}

.profile-buttons {
  margin-top: 30px;
}

.prev-btn, .next-btn {
  background-color: #C50C0C;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.prev-btn:hover, .next-btn:hover {
  background-color: #FFC100;
}

/* ASSOCIATES END */

/* ABOUT US END */

/* ADMIN SECTION START */
.admin-section {
  margin: 90px 0px 0px 0px;
  text-align: center;
}

.admin-title {
  font-size: 27px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #C50C0C;
}

.table-container {
  display: flex;
  justify-content: center;
  padding: 0px 30px 40px 40px;
  width: 100%; 
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; 
  width: 100%; 
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.admin-table th{
  padding: 25px 10px;
  text-align: center;
  border: 2px solid #000000;
}

.admin-table td {
  padding: 10px;
  text-align: center;
  border: 2px solid #000000;
}

.admin-table td:last-child {
  border: none;
  text-align: left;
}

.admin-table th {
  background-color: #C50C0C;
  color: white;
}

.status {
  font-weight: bold;
  color: white;
  padding: 5px;
}

.status.green {
  background-color: #009C03;
}

.status.red {
  background-color: #C50C0C;
}

.status.yellow{
  background-color: #FFC100;
  color: #000000;
}

.action-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.action-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #FF6500;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.action-button:hover {
  background-color: #dc5800
}

/* ADMIN SECTION END */

/* FOOTER START */
.footer_section {
  background-color: #C50C0C;
  padding: 20px;
  position: relative; 
  left: 0;       
  right: 0;       
  bottom: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;       
}

.footer_section p {
  font-size: 13px;
  margin: 0;
  color: #fefdfc;
}
/* FOOTER END */

/* FOOTER START - ADMIN VERSION */
.footer_section-admin {
  background-color: #FFC100;
  padding: 20px;
  position: relative; 
  left: 0;       
  right: 0;       
  bottom: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;       
}

.footer_section-admin p {
  font-size: 13px;
  margin: 0;
  color: #000000;
}
/* FOOTER END - ADMIN VERSION */